*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    
}

.container{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.none{
    display: none !important;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background-color: #556983;
}

.header-title{
   margin: 0;
   margin-bottom: 25px;
   font-weight: bold;
   font-size: 56px;
   line-height: 130%;

   text-align: center;
   color: white;
}

.header-subtitle{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
 
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: white;
}

.header-arrow{
    width: 48px;
    height: 48px;

    position: absolute;
    bottom: 30px;
    left: 50%;

    transform: translate(-50%, 0);
}

.portfolio{
    padding-top: 80px;
    padding-bottom: 115px;
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.portfolio-header{
    margin: 0px;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;

    color: #000000;
}

.portfolio-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    margin-bottom: 30px;
    max-width: 540px;
    background: white;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
    transition: transform 0.2s ease-in;
    border-radius: 5%;
}

.card:hover{
    transform: translateY(-15px);
}

.card-link{
    padding: 20px;
    color: #000;
    text-decoration: none;
    display: block;
    transition: color 0.2s ease-in;
}

.card-link:hover{
    color:blue
}

.card-img{
    margin-bottom: 20px;
}

.card-title{
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}

.card p{
    margin: 0;
    font-size: 16px;
    line-height: 130%;
}


.footer{
    padding-top: 45px;
    padding-bottom: 130px;
    background: #556983;
    color: white;
}

.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-col{
    max-width: 350px;
    flex-grow: 1;
}
.footer-copyright{
    max-width: 350px;
    flex-grow: 1;
    line-height: 1.3;
}

.footer-copyright-name{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
}

.footer-copyright p{
    margin: 0px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
}

.footer-icons p{
    font-weight: 600;
    font-style: 16px;
    line-height: 1.3;
}

.footer-icons-row{
    display: flex;
    align-items: center;

}

.footer-icons-row > * + *{
    margin-left: 30px;
}

.footer-button{
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid white;
    border-radius: 50px;

    
    color: white;
    font-weight: 700;
    font-style: 16px;
    line-height: 44px;
    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.2s ease-in;
}

.footer-button:hover{
    background-color: white;
    color: #556983;
}

.footer-contacts p{
    margin: 15px 0;
    font-style: 16px;
    line-height: 1.3;
}

.project{
    padding-top: 80px;
    padding-bottom: 120px;
    text-align: center;
    background:rgba(126, 155, 189, 0.35);
    background: linear-gradient(90deg, rgb(126, 155, 189, 0.35) 0%, white 100%);
}

.project-header{
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 46px;
    line-height: 1.3;
}

.project-img{
    margin-bottom: 70px;
}

.project-description{
    margin: 0 auto;
    max-width: 730px;
    margin-bottom: 60px;
}

.project-description p {
    border-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}

.ptoject-button-back {
    display: inline-block;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid #556983;
    border-radius: 50px;

    
    color: #556983;
    font-weight: 700;
    font-style: 16px;
    line-height: 54px;
    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.2s ease-in;
}

.ptoject-button-back:hover{
    background-color: #556983;
    color: white;
}

.block{
    width: 800px;
    height: 400px;
    background-color: aqua;
}